<nav>
  <div class="nav-wrapper teal">
    <a href="#" class="brand-logo center">Mon app Pokémon</a>
  </div>
</nav>

<router-outlet></router-outlet>

<!--FOOTER ICI QUI SERAIT SUR TOUTES LES PAGES-->


<!-- <h3 [style.color]="isSpecial ? 'blue' : 'red'">{{title}}</h3>


<ul>
  <li *ngFor="let pokemon of pokemons">{{ pokemon.name }}</li>
  
</ul>

<button (click)="onClickTest()">Cliquez ici</button>
<br> -->

<!-- <input (keyup)="onKey($event)"/>

  <p>{{values}}</p> -->

  <!-- <h1 *ngIf="isSpecial">HELLO</h1> -->

  <!-- <h1 class="center">Pokemons</h1>
  <div class="container">
    <div class="row">
      <div class="col s6 m4" *ngFor="let pokemon of pokemons">
        <div class="card horizontal" (click)="selectPokemon(pokemon)" pkmnBorderCard="red">
          <img  [src]="pokemon.picture">
          <div class="card-stacked">
            <div class="card-content">
              <p>{{pokemon.name}}</p>
              <p><small>{{pokemon.created | date:"dd/MM/yyyy"}}</small></p>
              <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{type}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->